body{
    background-color: #EFF7CF;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 5%;
    margin-right: 5%;
}

h1{
    font-size: 3rem;
}

h2{
    font-size:2rem;
}

header > img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

nav ul{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    background-color: #BAD9B5;
    border-radius: 12px;
}

nav li{
    list-style-type: none;
}

nav li a{
    display: inline-block;
    padding: 25px;
    margin: 0 25px;
    text-align: center;
    text-decoration: none;
    color: black;
}

nav li a:hover{
    background-color: #d1f2cc;
    transform:scale(1.1)
}

section{
    display: flex;
    color:white;
}

article{
    flex: 1;
    padding: 25px;
    margin: 25px;
    background-color: #BAD9B5;
    border-radius: 12px;
}

footer{
    display: flex;
}

footer div {
    flex: 1;
}

.logo{
    width: 50px;
}

#copyright{
    text-align: right;
    text-decoration:overline;
}