body{
    background-color: #EFF7CF;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 5%;
    margin-right: 5%;
}

h1{
    font-size: 3rem;
}

h2{
    font-size:2rem;
}

header > img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

nav ul{
   list-style: none;
   text-align: center;
   background-color: rgb(59, 55, 55);
   border-radius: 3rem;
   padding: 1rem;
   font-size: 1.2rem;

}

nav li{
    display: inline-block;
}

nav li a{
    text-decoration: none;
    color: white;
    margin: 1rem;
}

nav li a:hover{
    color:#BAD9B5;
}

section{
    display: flex;
    color:white;
}

article{
    flex: 1;
    padding: 25px;
    margin: 25px;
    background-color: #BAD9B5;
    border-radius: 12px;
}

footer{
    display: flex;
}

footer div {
    flex: 1;
}

.logo{
    width: 50px;
}

#copyright{
    text-align: right;
    text-decoration:overline;
}